* {
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: #ece2ed;
	width: 100%;
	height: 100%;
}

.contaner {
	width: 100%;
	height: 100%;
}

.wrapper {
	height: 100%;
	width: 100%;
	background-color: #ece2ed;
	position: relative;
	/*margin: 100px 0;*/
	left: 0;
	overflow: hidden;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
	position: absolute;
}

.img1 {
	top: -80px;
	left: -100px;
	transform: rotateZ(-20deg) scale(0.8);
	z-index: 2;
	animation: 4s changeLeft;
}

@keyframes changeLeft {
	0% {
		left: -600px;
	}
	50% {
		left: -300px;
	}
	100% {
		left: -100px;
	}
}

.img2 {
	top: -80px;
	right: -100px;
	transform: rotatez(-100deg) scale(0.8);
	z-index: 2;
	animation: 4s changeRight;
}

@keyframes changeRight {
	0% {
		right: -600px;
	}
	50% {
		right: -300px;
	}
	100% {
		right: -100px;
	}
}

.img3 {
	left: 60px;
	top: 50px;
	max-width: 260px;
	animation: 24s changeTop;
	
}
.img3 img {
	max-width: 260px;
}


@keyframes changeTop {
	0% {
		top: -600px;
	}
	30% {
		top: 50px;
	}
	60%{
		top:50px;
		left: 60px;
	}
	100%{
		left: 500px;
	}
}
.img6{left: 60px;
	top: 50px;
	max-width: 280px;
	animation:changeTop6 24s;
}
.img6 img{max-width: 280px;}
@keyframes changeTop6 {
	0% {
		top: -600px;
	}
	70%{
		top: -600px;
	}
	100% {
		top: 50px;
	}
	}


.img4 {
	left: 12px;
	/*top:450px;*/
	bottom: -60px;
	transform: scale(0.8);
	z-index: 2;
	animation: 4s changeBottom1;
}

@keyframes changeBottom1 {
	0% {
		bottom: -600px;
	}
	100% {
		bottom: -60px;
	}
}

.img5 {
	right: -8px;	
	bottom: -120px;
	transform: rotateZ(-180deg) scale(0.8);
	animation: 4s changeBottom;
}

@keyframes changeBottom {
	0% {
		bottom: -660px;
	}
	100% {
		bottom: -120px;
	}
}



/*音乐*/

#music {
	width: 60px;
	height: 60px;	
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 9;
}

#music .music_bg {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
}

@keyframes music {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#music .music_pic {
	position: absolute;
	top: 8px;
	left: 8px;
	animation: music 2s linear infinite;
}


/*音乐结束*/
